nav{
    padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 10px;
     margin-left:0.1rem;
     background-color: black;
     color: white;
    }
    .menu a:link, a:visited, a:active{
        text-decoration: none;
        text-decoration-color: white;
        line-height: 30px;
    	border-style: solid; 
	    border-width: 10px;
 	    border-color:#404040  #1a1a1a #1a1a1a #505050; 
        transition: 1s linear;
     
    }
    .menu a:hover{
        text-decoration: underline;
        color: white;
        font-size: 120%;
        border-style: solid; 
        border-color:#4698ca  #5db1e0 #5db1e0 #5db1e0; 
        background-color:   rgb(113, 122, 124);
       
    }
    .resultados{
        background-image: linear-gradient(rgba(208, 220, 235), rgb(10, 17, 10, 0.60));
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    body{
        
        background-image: url(../img/Inicial/fundo.png);
        background-clip: padding-box;
        background-size: 15rem;
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: repeat;
        margin-right: 0.1rem;
        margin-left: 0.2rem;
        
    }
    .fase1{
        text-align: justify;
        background-image: linear-gradient(rgba(202, 217, 245, 0.918), rgba(255, 250, 254, 0.89));
        padding-bottom: 20px;
        padding-top: 30px;
       
    }
    .img{
        text-align: center;
        color:black;
    }
    .avatar{
      text-align: left;
    }

    .fase2{
     padding-top: 1px;
     padding-bottom: 1px;
     margin-top: 1px;
    background-image: linear-gradient(rgba(10, 17, 10, 0.60), rgb(146, 243, 198));
     color: white;
    text-align: justify;
    }

    .sb{
        background-image: linear-gradient(rgb(240, 240, 114), rgba(35, 56, 1, 0.151));
        padding-top: 10px;
      
    }

    .lin{
    background: linear-gradient(rgba(240, 58, 58, 0.938),black);
    padding-top: 20px;
    padding-bottom: 20px;
    }   

    .sbelt{
    background: linear-gradient(rgba(57, 243, 73, 0.664),black);
    padding-top: 20px;
    padding-bottom: 20px;
    }

    .bg_footer{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 1px;
}

    
    